### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [83]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data.loc[:,["SN", "Age", "Gender"]]
dropped_total_player = total_players.drop_duplicates()
sum_players = dropped_total_player.count()[0]
pd.DataFrame({"Total Players" : [sum_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_item = purchase_data["Item ID"].nunique()
total_num_purchases = purchase_data["Purchase ID"].count()
average_price= purchase_data["Price"].mean()
total_rev = purchase_data["Price"].sum()
unique_item,total_num_purchases, average_price, total_rev
purchasing_analysis_tool = pd.DataFrame({"Number of Unique Items" : [unique_item], 
              "Average Price" : [average_price], 
              "Number of Purchases": [total_num_purchases], 
              "Total Revenue": [total_rev] })
purchasing_analysis_tool

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
len_of_data = purchase_data["SN"].nunique()
male=purchase_data.loc[purchase_data['Gender'] == "Male"]["SN"].nunique()
male_percent = ((male/len_of_data)*100)

female=purchase_data.loc[purchase_data['Gender'] == "Female"]["SN"].nunique()
female_percent = ((female/len_of_data)*100)

other= len_of_data - male - female
other_percent = ((other/len_of_data)*100)


Gender_Demographics_summary = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],"Total Count": [male,female,other], "Percentage of Players":[male_percent,female_percent, other_percent] })
Gender_Demographics_summary

Gender_Demographics_final= Gender_Demographics_summary.set_index("")
Gender_Demographics_final.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
len_of_data = purchase_data["SN"].nunique()
male=purchase_data.loc[purchase_data['Gender'] == "Male"]["SN"].nunique()
male_percent = ((male/len_of_data)*100)

female=purchase_data.loc[purchase_data['Gender'] == "Female"]["SN"].nunique()
female_percent = ((female/len_of_data)*100)

other= len_of_data - male - female
other_percent = ((other/len_of_data)*100)


Gender_Demographics_summary = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],"Total Count": [male,female,other], "Percentage of Players":[male_percent,female_percent, other_percent] })
Gender_Demographics_summary

Gender_Demographics_final= Gender_Demographics_summary.set_index("")
Gender_Demographics_final.style.format({"Percentage of Players": "{:.2f}%"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
## Establish bins for ages
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,1000]
category =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40 +" ]

#Categorize the existing players using the age bins. Hint: use pd.cut()

purchase_data["Age Grouped"] = pd.cut(list(purchase_data["Age"]),bins, labels=category)
age_grouped = purchase_data.groupby(["Age Grouped"])
age_grouped.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Grouped
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 +
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40 +
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40 +
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40 +
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40 +

In [7]:
total_count = age_grouped["SN"].nunique()
percentage_of_players = ((total_count/len_of_data)* 100)
total_count
age_demo = pd.DataFrame({"Total Count":total_count,
            "Percentage of Players":percentage_of_players })
age_demo

             Total Count  Percentage of Players
Age Grouped
<10                   17               2.951389
10-14                 22               3.819444
15-19                107              18.576389
20-24                258              44.791667
25-29                 77              13.368056
30-34                 52               9.027778
35-39                 31               5.381944
40 +                  12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
load_file_1 = "Resources/purchase_data.csv"
new_purchase_data = pd.read_csv(load_file_1)
new_purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [12]:
bins = [-1,9.99,14.99,19.99,24.99,29.99,34.99,39.99,1000]
category =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40 +" ]

#Categorize the existing players using the age bins. Hint: use pd.cut()
test_3 = new_purchase_data
test_3["SN"] = pd.cut(test_3["Age"],bins, labels=category)
SN_grouped = test_3.groupby(["SN"])

#Purchase count 
bin_count = age_grouped["Age Grouped"].count()
#avg. purchase price
average_price = age_grouped["Price"].mean()
#Total purchase value
total_price = age_grouped["Price"].sum()
#Average total
new_data = (age_grouped["Price"].sum()/SN_grouped["SN"].count())

purchase_analysis = pd.DataFrame({"Purchase Count": bin_count,
                               "Average Purchase Price": average_price,
                                "Total Purchase Value":total_price, 
                                  "Avg Total Purchase per Person": new_data})
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("$ {:,.2f}".format)
purchase_analysis["Total Purchase Value"] = purchase_analysis["Total Purchase Value"].map("$ {:,.2f}".format)
purchase_analysis["Avg Total Purchase per Person"] = purchase_analysis["Avg Total Purchase per Person"].map("$ {:,.2f}".format)
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Grouped,,,,
<10,23,$ 3.35,$ 77.13,$ 3.35
10-14,28,$ 2.96,$ 82.78,$ 2.96
15-19,136,$ 3.04,$ 412.89,$ 3.04
20-24,365,$ 3.05,"$ 1,114.06",$ 3.05
25-29,101,$ 2.90,$ 293.00,$ 2.90
30-34,73,$ 2.93,$ 214.00,$ 2.93
35-39,41,$ 3.60,$ 147.67,$ 3.60
40 +,13,$ 2.94,$ 38.24,$ 2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
load_file_2 = "Resources/purchase_data.csv"
new_purchase_data_1 = pd.read_csv(load_file_2)
new_purchase_data_1

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [46]:
grouped_SN = new_purchase_data_1.groupby("SN")
count_SNgrouped = grouped_SN["Item ID"].count()
count_SNTotal = grouped_SN["Price"].sum()
average_price = (count_SNTotal/count_SNgrouped)
top_spenders = pd.DataFrame({"Purchase Count": count_SNgrouped, "Average Purchase Price":average_price, "Total Purchase Value":count_SNTotal} )
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending = False)
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)

top_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
popular_item=new_purchase_data_1.groupby(["Item ID", "Item Name"])
count_item_id = popular_item["SN"].count()
count_purchase_price = popular_item["Price"].sum()
sum_total_purchase = (count_purchase_price/count_item_id)
price_total = (sum_total_purchase * count_item_id)
Top_five_item = pd.DataFrame({"Purchase Count": count_item_id, "Item Price":sum_total_purchase, "Total Purchase Value": price_total})
Top_five_item = Top_five_item.sort_values ("Purchase Count", ascending = False)
Top_five_item["Item Price"] = Top_five_item["Item Price"].map("${:.2f}".format)
Top_five_item["Total Purchase Value"] = Top_five_item["Total Purchase Value"].map("${:.2f}".format)

Top_five_item.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [82]:
popular_item=new_purchase_data_1.groupby(["Item ID", "Item Name"])
count_item_id = popular_item["SN"].count()
count_purchase_price = popular_item["Price"].sum()
sum_total_purchase = (count_purchase_price/count_item_id)
price_total = (sum_total_purchase * count_item_id)
Top_five_item = pd.DataFrame({"Purchase Count": count_item_id, "Item Price":sum_total_purchase, "Total Purchase Value": price_total})
Top_five_item = Top_five_item.sort_values ("Total Purchase Value", ascending = False)
Top_five_item["Item Price"] = Top_five_item["Item Price"].map("${:.2f}".format)
Top_five_item["Total Purchase Value"] = Top_five_item["Total Purchase Value"].map("${:.2f}".format)

Top_five_item.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80